/*
############################# GENERAL STYLE ####################################
*/

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper {
  width: 100%;
  font-family: 'Chango', cursive;
  font-weight: bold;
}

#score-container {
  text-align: center;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 60px;
}

#score-number {
  display: inline-block;
  width: 150px;
}

#countdown-amount {
  display: inline-block;
  width: 20px;
}

#countdown-container {
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 1.5;
}

#countdown-number {
  display: inline-block;
  width: 20px;
}


@media screen and (min-width:425px) {
  #score-container {
    font-size: 2em;
  }

  #score-number {
    width: 200px;
  }
}

@media screen and (min-width:520px) {
  #score-container {
    font-size: 2.5em;
  }

  #score-number {
    width: 250px;
  }

  #countdown-container {
    font-size: 1.2em;
  }
}
