/*
############################# GENERAL STYLE ####################################
*/

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper {
  width: 100%;
}

/*
############################# HEXAGON STYLE ####################################
*/
#hex-container {
  padding-left: 1%;
}

@media screen and (min-width:560px) {
  #hex-container {
    padding-left: 2%;
  }
}

@media screen and (min-width:570px) {
  #hex-container {
    padding-left: 3%;
  }
}

@media screen and (min-width:585px) {
  #hex-container {
    padding-left: 4%;
  }
}

@media screen and (min-width:610px) {
  #hex-container {
    padding-left: 6%;
  }
}

@media screen and (min-width:650px) {
  #hex-container {
    padding-left: 8%;
  }
}

@media screen and (min-width:680px) {
  #hex-container {
    padding-left: 10%;
  }
}

@media screen and (min-width:700px) {
  #hex-container {
    padding-left: 12%;
  }
}

@media screen and (min-width:730px) {
  #hex-container {
    padding-left: 14%;
  }
}

@media screen and (min-width:760px) {
  #hex-container {
    padding-left: 15%;
  }
}

@media screen and (min-width:820px) {
  #hex-container {
    padding-left: 17%;
  }
}

@media screen and (min-width:850px) {
  #hex-container {
    padding-left: 18%;
  }
}


@media screen and (min-width:900px) {
  #hex-container {
    padding-left: 20%;
  }
}


@media screen and (min-width:1100px) {
  #hex-container {
    padding-left: 25%;
  }
}

@media screen and (min-width:1250px) {
  #hex-container {
    padding-left: 30%;
  }
}

@media screen and (min-width:1500px) {
  #hex-container {
    padding-left: 35%;
  }
}


.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -20px;
}

.hex .top {
  width: 0;
  border-bottom-color: #fff;
  border-bottom-width: 23px;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-left-width: 40px;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-width: 40px;
  border-right-style: solid;
}

.hex .middle {
  width: 80px;
  height: 46px;
  background-color: #fff;
}

.hex .middle .counter{
  color: #333;
  text-align: center;
  font-family: 'Chango', cursive;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.5;
  cursor: default;
}

.hex .bottom {
  width: 0;
  border-top-color: #fff;
  border-top-width: 23px;
  border-top-style: solid;
  border-left-color: transparent;
  border-left-width: 40px;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-width: 40px;
  border-right-style: solid;
}

.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: 41px;
}

@media screen and (min-width:560px) {
 .hex {
    margin-bottom: -26px;
  }

  .hex .top {
    border-bottom-width: 30px;
    border-left-width: 52px;
    border-right-width: 52px;
  }

  .hex .middle {
    width: 104px;
    height: 60px;
  }

  .hex .bottom {
    border-top-width: 30px;
    border-left-width: 52px;
    border-right-width: 52px;
  }

  .hex-row.even {
    margin-left: 53px;
  }
}


/* difficulty classes */

.hex-top-diff1 {
  border-bottom-color: #6c6 !important;
}

.hex-top-diff2 {
  border-bottom-color: #ffd146 !important;
}

.hex-top-diff3 {
  border-bottom-color: #ff3333 !important;
}

.hex-middle-diff1 {
  background: #6c6 !important;
}

.hex-middle-diff2 {
  background: #ffd146 !important;
}

.hex-middle-diff3 {
  background: #ff3333 !important;
}

.hex-bottom-diff1 {
  border-top-color: #6c6 !important;
}

.hex-bottom-diff2 {
  border-top-color: #ffd146 !important;
}

.hex-bottom-diff3 {
  border-top-color: #ff3333 !important;
}
